.containter {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 350px) {
  .name {
    width: 85%;
    font-size: 50%;
  }
  .score-panel {
    width: 85%;
    font-size: 50%;
  }
  .deck {
    width: 85%;
  }
  .deck .card {
    height: 4.7rem;
		width: 4.7rem;
  }
}

@media screen and (min-width: 351px) and (max-width: 500px) {
  .name {
    width: 90%;
    font-size: 60%;
  }
  .score-panel {
    width: 90%;
    font-size: 60%;
  }
  .deck {
    width: 90%;
  }
  .deck .card {
    height: 4.8rem;
		width: 4.8rem;
  }
}
@media screen and (min-width: 501px) and (max-width: 660px) {
  .name {
    width: 85%;
    font-size: 60%;
  }
  .score-panel {
    width: 85%;
    font-size: 60%;
  }
  .deck {
    width: 85%;
  }
  .deck .card {
    height: 5.6rem;
		width: 5.6rem;
  }
}
